<center>
<h1>Hey <%= @user.username.capitalize %>.</h1>
    <h2> Here are your feetlocker selections: </h2>
        <h3><%=@sneakers.all.count%> sneakers avaliable<h3>


<form action="/sneakers/new"  method="get">
    <input type="submit" class="button" value="Add Sneaker" >
</form>
↓
<ul>
    <% @sneakers.each do |sneaker|  %>
        <a href='sneakers/<%=sneaker.id%>'><li> <%= sneaker.brand.titleize  %> - <%= sneaker.style.titleize %> - <%= sneaker.name.titleize  %> 
            <h2></h2>
            <img src="<%= sneaker.imageurl == "" ? "https://s0.as-img.com/r/pic/99/1500/1500/double_quarter.jpg?bg=f5f5f5&u=1537641591" : sneaker.imageurl   %>"
                alt="FeetLockers" width="250" height="190" >
        </a>
    <% end %>
</ul>
</center>